<form [formGroup]="updateForm">
  <nz-alert
    *ngIf="
      updateForm.errors?.identityRevealed &&
      (updateForm.touched || updateForm.dirty)
    "
    nzType="error"
    nzMessage="两次密码不同"
    style="margin-bottom: 16px"
  ></nz-alert>
  <nz-form-item>
    <nz-input-group nzPrefixIcon="user">
      <input type="text" nz-input disabled [value]="username" />
    </nz-input-group>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzErrorTip="请输入密码">
      <nz-input-group nzPrefixIcon="lock">
        <input
          type="password"
          nz-input
          formControlName="password"
          placeholder="密码"
        />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzErrorTip="请输入确认密码">
      <nz-input-group nzPrefixIcon="lock">
        <input
          type="password"
          nz-input
          formControlName="password2"
          placeholder="确认密码"
        />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
</form>
