<nz-layout class="full-height">
  <nz-sider nzWidth="200px" nzTheme="light">
    <ul nz-menu nzMode="inline" class="sider-menu">
      <li nz-menu-item nzSelected nzMatchRouter>
        <a routerLink="statistic">总览</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a routerLink="create">临时停车</a>
      </li>
      <li nz-menu-item nzMatchRouter><a routerLink="status">停车场状态</a></li>
      <li nz-menu-item nzMatchRouter><a routerLink="list">停车记录</a></li>
    </ul>
  </nz-sider>
  <nz-layout class="inner-layout">
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>
