<h2>注册新卡</h2>
<nz-divider></nz-divider>
<form [formGroup]="createForm" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-control nzErrorTip="请输入车牌号">
      <nz-input-group nzPrefixIcon="car">
        <input
          type="text"
          nz-input
          formControlName="car"
          placeholder="车牌号"
        />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzErrorTip="请输入姓名">
      <nz-input-group nzPrefixIcon="user">
        <input type="text" nz-input formControlName="name" placeholder="姓名" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzErrorTip="联系电话格式非法">
      <nz-input-group nzPrefixIcon="phone">
        <input
          type="text"
          nz-input
          formControlName="phone"
          placeholder="联系电话"
        />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <button nz-button [nzType]="'primary'">添加</button>
</form>
