<nz-layout class="full-height">
  <nz-sider nzWidth="200px" nzTheme="light">
    <ul nz-menu nzMode="inline" class="sider-menu">
      <li nz-menu-item nzSelected nzMatchRouter>
        <a routerLink="info">用户信息</a>
      </li>
      <li nz-menu-item *ngIf="isAdmin()" nzMatchRouter>
        <a routerLink="create">添加用户</a>
      </li>
      <li nz-menu-item *ngIf="isAdmin()" nzMatchRouter>
        <a routerLink="list">用户列表</a>
      </li>
    </ul>
  </nz-sider>
  <nz-layout class="inner-layout">
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>
