<h2>临时停车</h2>
<nz-divider></nz-divider>
<form [formGroup]="createForm">
  <nz-form-item>
    <nz-form-control nzErrorTip="请输入车牌号">
      <nz-input-group nzPrefixIcon="car">
        <input
          type="text"
          nz-input
          formControlName="plate"
          placeholder="车牌号"
        />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzErrorTip="请选择车型">
      <nz-select formControlName="type">
        <nz-option
          *ngFor="let text of carTypes"
          [nzValue]="text"
          [nzLabel]="text"
        ></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <button nz-button nzType="primary" (click)="submitForm('in')">停车</button>
  <button
    nz-button
    (click)="submitForm('out')"
    nzDanger
    style="margin-left: 8px"
  >
    离开
  </button>
</form>
