#login {
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

#login form {
  border: 1px solid #f0f0f0;
  padding: 16px;
}

#login .login-form-button {
  width: 100%;
}
