<h2>总览</h2>
<nz-divider></nz-divider>
<nz-row [nzGutter]="16">
  <nz-col [nzSpan]="8">
    <nz-statistic
      [nzValue]="(parkStatusNum | number)!"
      nzTitle="停车场内车辆数"
    ></nz-statistic>
  </nz-col>
  <nz-col [nzSpan]="8">
    <nz-statistic
      [nzValue]="(parkInfoNum | number)!"
      nzTitle="合计停车次数"
    ></nz-statistic>
  </nz-col>
  <nz-col [nzSpan]="8">
    <nz-statistic
      [nzValue]="(cardNum | number)!"
      nzTitle="注册停车卡数量"
    ></nz-statistic>
  </nz-col>
</nz-row>
<nz-row class="ant-statistic" style="margin-top: 8px">
  <h3 class="ant-statistic-title">停车场进出统计</h3>
</nz-row>
<nz-row>
  <div echarts [options]="options" class="chart">
    <nz-spin
      nzSimple
      style="height: 100%; width: 100%; text-align: center"
    ></nz-spin>
  </div>
</nz-row>
