<nz-layout class="app-layout">
  <nz-header>
    <div class="logo">
      <a routerLink="/" style="color: white">停车场管理系统</a>
    </div>
    <div>
      <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu">
        <li nz-menu-item nzSelected nzMatchRouter>
          <a routerLink="park">车辆</a>
        </li>
        <li nz-menu-item nzMatchRouter><a routerLink="card">停车卡</a></li>
        <li nz-menu-item nzMatchRouter><a routerLink="user">用户</a></li>
      </ul>
    </div>
  </nz-header>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</nz-layout>
