<h2>用户信息</h2>
<nz-divider></nz-divider>
<p>
  <span class="font-weight-bold" style="letter-spacing: 1em">编号</span>
  <span class="font-weight-bold">{{ user.id }}</span>
</p>
<p>
  <span class="font-weight-bold">用户名</span>
  <span style="margin-left: 16px">{{ user.username }}</span>
</p>
<p>
  <span class="font-weight-bold" style="letter-spacing: 1em">类型</span>
  <span
    ><nz-tag [nzColor]="user.type === 'admin' ? 'green' : 'blue'">{{
      user.type === 'admin' ? '超级管理员' : '普通管理员'
    }}</nz-tag></span
  >
</p>
<div>
  <app-update-user [username]="user.username"></app-update-user>
  <button nz-button nzType="primary" nzDanger (click)="logout()">退出</button>
</div>
