<h2>停车记录</h2>
<nz-divider></nz-divider>
<div style="margin-bottom: 16px">
  <span class="font-weight-bold" style="margin-right: 8px">时间</span>
  <nz-range-picker
    nzShowTime
    [nzRanges]="ranges"
    [nzDisabledDate]="disabledDate"
    [nzPlaceHolder]="['开始时间', '结束时间']"
    ngModel
    (ngModelChange)="handleClose($event)"
    (nzOnOk)="handleSelectRange($event)"
  ></nz-range-picker>
</div>
<div style="margin-bottom: 16px">
  <span class="font-weight-bold" style="margin-right: 8px">车牌</span>
  <nz-input-group
    nzPrefixIcon="car"
    style="width: auto"
    [nzSuffix]="inputClearTpl"
  >
    <input
      type="text"
      nz-input
      [(ngModel)]="searchValue"
      (keyup.enter)="goSearch(searchValue)"
    />
  </nz-input-group>
  <ng-template #inputClearTpl>
    <i
      nz-icon
      nzTheme="fill"
      nzType="close-circle"
      class="ant-input-clear-icon"
      *ngIf="searchValue"
      (click)="goSearch((searchValue = null))"
    ></i
  ></ng-template>
</div>
<nz-table #nzTable [nzData]="parkInfo" nzTableLayout="fixed">
  <thead>
    <tr>
      <th class="font-weight-bold" nzWidth="5em" nzAlign="center">编号</th>
      <th class="font-weight-bold">车牌号</th>
      <th class="font-weight-bold">进入时间</th>
      <th class="font-weight-bold">离开时间</th>
      <th class="font-weight-bold">费用</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of nzTable.data">
      <td class="font-weight-bold" nzAlign="center">{{ data.id }}</td>
      <td>
        <button
          nzBlock
          nz-button
          nzType="link"
          (click)="goParkInfo(data.plate)"
          style="text-align: left; padding-left: 0"
        >
          {{ data.plate }}
        </button>
      </td>
      <td>{{ data.entrytime | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
      <td>{{ data.departuretime | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
      <td class="fee-font">{{ data.fee | currency: undefined }}</td>
    </tr>
  </tbody>
</nz-table>
