<h2>停车记录</h2>
<nz-divider></nz-divider>
<nz-table #nzTable [nzData]="parks" nzTableLayout="fixed">
  <thead>
    <tr>
      <th>编号</th>
      <th nzCustomFilter>
        进入时间
        <!--      <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">-->
        <!--        <i nz-icon nzType="search"></i>-->
        <!--      </nz-filter-trigger>-->
      </th>
      <th>离开时间</th>
      <th>车牌号</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of nzTable.data">
      <td></td>
      <td>{{ data.name }}</td>
      <td>{{ data.age }}</td>
      <td>{{ data.address }}</td>
    </tr>
  </tbody>
</nz-table>
<nz-dropdown-menu #menu="nzDropdownMenu">
  <!--  <div class="ant-table-filter-dropdown">-->
  <!--    <div class="search-box">-->
  <!--      <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />-->
  <!--      <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">-->
  <!--        Search-->
  <!--      </button>-->
  <!--    </div>-->
  <!--  </div>-->
</nz-dropdown-menu>
